//ABOUTUS HEADER

@import "../__variables";
@import "../__mixin";

.header {
  &__locationWeb {
    background-color: #fff;
    padding: 1em;
    width: 9.75em;
    position: absolute;
    right: 1em;

    &__p {
        @include archivo-font;
        text-align: center;
      &__span2 {
        color: $color_softyBrown;
      }
    }
  }
}
