//ABOUTUS HEADER

@import "../__variables";
@import "../__mixin";

.header {
  height: auto;
  position: relative;
  color: #fff;
  width: 100%;
  padding: 8em 0em 3em 1.5em;
  background-color: $color_header;

  h4 {
    margin-top: 1em;
    line-height: 1.5em;
    margin-bottom: 2.5em;
  }

  h1{
    padding-bottom: 0.6em;
  }
  
  &__locationWeb {
    background-color: #fff;
    padding: 1em;
    width: 9em;
    position: absolute;
    right: 1em;
    bottom: 0;

    &__p {
        @include archivo-font;
        text-align: center;
        color: $color_black;
        font-size: 1em;
      &__span2 {
        color: $color_softyBrown;
      }
    }
  }
}
