@import "../_mixin";

.nav {
  display: flex;
  align-items: center;
  position: fixed;
  height: 4.37em;
  width: 100%;
  //   top: 2.75em;
  background-color: #fff;
  z-index: 5;
  box-shadow: 0px 3px 6px 0px #0000004a;

  button {
    background: none;
    border: none;
    width: 1.25em;
    height: 0.8em;
    margin: 0 0 0 1.5em;
  }

  &__burger {
    display: block;
  }

  &__close {
    display: none;
  }

  ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      flex-direction: column;
      font-size: 1em;
      font-weight: 600;
      line-height: 2em;
      text-align: left;

      a {
        @include archivo-font;
        font-weight: bold;
      }
    }

    li:hover {
      color: black;
      font-weight: 700;
    }
  }

  .open {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    z-index: 999;
  }

  .close {
    display: none;
  }

  .menu {
    position: absolute;
    top: 4.375em;
    width: 100%;
    padding: 1em;
  }

  &.open .nav__burger {
    display: none;
  }

  &.open .nav__close {
    display: block;
  }

  &.open ul {
    display: block;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em 0 0 2em;

    &__H {
      align-items: center;
      justify-content: center;
      box-shadow: 0px 14px 24px 0px #8b8b8b40;
      padding: 0em;
    }

    img {
      padding: 0.52em 0.77em;
    }
  }

  &__containerIcons {
    display: flex;
    margin: 0.4em 0 0 6em;

    a {
      display: flex;
      align-items: center;
      padding: 0 0.5em;

      &__icons {
        width: 1.5em;
        height: auto;
      }
    }
  }
}
