.swiperFacilites {
    width: 23.4375em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    .swiper-slide {
      width: 100%;
      display: flex;
      top: 0;
      padding: 0 2.5em 1.75em 1.5em;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      &__containerImg {
        padding: 4em 0;
        margin: 1em 0 2em 0;
        width: 100%;
        position: relative;

        &__featuresIcon {
          position: absolute;
          bottom: 0;
          left: 0;
        }

        &__featuresNum {
          position: absolute;
          top: 0;
          right: 0;
        }
      }

      h3 {
        letter-spacing: 0;
        font-size: 32px;
      }

      p {
        padding-left: 0.35em;
        width: 19em;
        line-height: 1.75em;
        margin: 0.8em 0 2em;
      }
    }

    .swiper-pagination {
      height: 5em;
      width: 10em;
      position: absolute;
      left: 5.5em;
      bottom: -4em;
      flex-direction: row;
    }

    .swiper-pagination-bullet {
      width: 0.5em;
      height: 0.5em;
      background-color: #ededed;
      opacity: 1;
      margin: 0 5px;
      border-radius: 50%;
      transition: background-color 0.3s;
    }

    .swiper-pagination-bullet-active {
      background-color: $color_softyBrown;
      opacity: 1;
    }
  }