//! FONTS

@mixin archivo-font {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100; 
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@mixin old-standard-tt {
  font-family: "Old Standard TT", serif;
  font-style: normal;
}

@mixin old-standard-tt-italic {
  font-family: "Old Standard TT", serif;
  font-style: italic;
}

@mixin roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

@mixin roboto-italic {
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

//! BUTTOM

@mixin generic_button {
  color: #fff;
  background-color: $color_softyBrown;
  border: none;
  letter-spacing: 0.27em;
  // padding-top: 1.7em;
  // padding-bottom: 1.7em;
  padding: 1.65em 0;
  width: 17em;
}

