//! FONTS

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

@mixin archivo-font {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100; //<weight>
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@mixin old-standard-tt {
  font-family: "Old Standard TT", serif;
  font-style: normal;
}

@mixin old-standard-tt-italic {
  font-family: "Old Standard TT", serif;
  font-style: italic;
}

@mixin roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

@mixin roboto-italic {
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

//! BUTTOM

@mixin button {
  color: #fff;
  background-color: none;
  letter-spacing: 0.27em;
  padding-top: 1.6em;
  padding-bottom: 1.6em;
}
