$color_black: #222222;
$color_borderButton: #FFFFFF54;
$color_header: #333333;
$color_grey: #777777;
$color_greyLetter: #C2C2C2;
$color_softyGrey: #E9E9E9;
$color_softySoftyGrey: #F8F8F8;
$color_softyBrown: #BEAD8E;
$color_white: #fff;
