@import "./_mixin";
@import "./_variables";
@import "./components/_nav";
@import "./page/_home";

html, * { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body { 
    min-width: 320px; 
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 1000px) {}