.nav {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  position: fixed;
  width: 23.4375em;
  top: 0em;
  background-color: #fff;
  z-index: 5;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
}
.nav__container {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 4.37em;
  background-color: #fff;
  z-index: 5;
}
.nav__container button {
  background: none;
  border: none;
  width: 1.25em;
  height: 0.8em;
  cursor: pointer;
}
.nav__container__burger {
  padding: 0;
}
.nav__container__close {
  display: none;
}
.nav__container__burger.close {
  display: none;
}
.nav__container__close.open {
  padding: 0;
  display: block;
}
.nav__container__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0 0 2em;
}
.nav__container__logo__H {
  align-items: center;
  justify-content: center;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
  padding: 0em;
}
.nav__container__logo img {
  padding: 0.52em 0.77em;
}
.nav__container__containerIcons {
  display: flex;
  margin: 0.4em 0 0 5em;
}
.nav__container__containerIcons a {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
}
.nav__container__containerIcons a__icons {
  width: 1.5em;
  height: auto;
}
.nav__containerUl ul.menu.open {
  display: block;
}
.nav__containerUl .menu {
  background-color: #fff;
  padding-top: 0.5em;
  position: absolute;
  top: 4.4em;
  padding: 1em;
  z-index: 0;
  width: 23.4375em;
}
.nav__containerUl ul {
  z-index: 0;
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav__containerUl ul li {
  z-index: 0;
  padding: 0.25em 0;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  font-weight: 600;
  line-height: 2em;
  text-align: left;
}
.nav__containerUl ul li a {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: bold;
}
.nav__containerUl ul li:hover {
  color: black;
  font-weight: 700;
}

.header__locationWeb {
  background-color: #fff;
  padding: 1em;
  width: 9.75em;
  position: absolute;
  right: 1em;
}
.header__locationWeb__p {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-align: center;
}
.header__locationWeb__p__span2 {
  color: #BEAD8E;
}

.footer {
  margin-top: -4em;
  background-color: #F8F8F8;
}
.footer__container {
  padding: 1em 0;
}
.footer__container p {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  padding: 0.25em;
  font-weight: 700;
  font-size: 1em;
}

.header h4 {
  color: #fff;
}
.header h2 {
  padding-bottom: 0.7em;
  color: #fff;
}
.header button {
  padding: 1.6em 3.75em;
  margin-bottom: 1.8em;
}
.header__takeTour {
  border: none;
  background-color: #BEAD8E;
  color: #fff;
}
.header__learnMore {
  border: 0.125em solid rgba(255, 255, 255, 0.3294117647);
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.3294117647);
}

.reservationCalendar {
  background: #222222;
  margin-bottom: 3.8em;
  padding: 2.4em 1em;
}
.reservationCalendar__pack {
  display: flex;
  flex-direction: column;
  padding-bottom: 2.2em;
}
.reservationCalendar__pack label {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #fff;
  font-weight: 500;
  font-size: 0.9em;
  padding-bottom: 0.8em;
}
.reservationCalendar__pack input {
  width: 25em;
  padding: 1em 1.7em;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #BEAD8E;
}
.reservationCalendar__pack img {
  position: absolute;
  width: 15.07px;
  height: 1em;
  margin: 2.4em 0em 0em 0;
}
.reservationCalendar button {
  border: none;
  background-color: #BEAD8E;
  padding-left: 2em;
  padding-right: 2em;
}

.aboutUs {
  padding: 0;
}
.aboutUs__discover {
  padding: 2.5em 1.2em 0;
  background: #f9f9f9;
  padding-bottom: 11.5em;
  margin-bottom: 45em;
}
.aboutUs__discover h4 {
  color: #777777;
}
.aboutUs__discover h2 {
  padding-bottom: 0.2em;
}
.aboutUs__discover p {
  margin-bottom: 1.8em;
}
.aboutUs__discover button {
  border: none;
  background-color: #BEAD8E;
  padding-left: 4.3em;
  padding-right: 4.3em;
}
.aboutUs__containerCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -53em;
  padding: 0;
}
.aboutUs__containerCards__card {
  z-index: 1;
  width: 17.5em;
  margin-top: 0em;
}
.aboutUs__containerCards__card__head {
  width: 100%;
  height: 18.5em;
  background: #e4e4e4;
  padding: 5.5em;
}
.aboutUs__containerCards__card img {
  width: 4.5em;
  margin-bottom: 1em;
}
.aboutUs__containerCards__card p {
  text-align: center;
  width: 15em;
}
.aboutUs__containerCards__card__data1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/icon_team_big.png);
  background-repeat: no-repeat;
  background-position: 8.55em 2.9em;
  box-shadow: 0px 8px 16px 0px rgba(34, 34, 34, 0.0196078431);
  padding: 3em 0 3.5em;
}
.aboutUs__containerCards__card__data2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222222;
  color: #ffffff;
  padding: 3em 0 3em;
  margin-bottom: 1.5em;
}
.aboutUs__containerCards__card__data2 img {
  width: 2.92em;
}

.rooms {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-left: 0;
}
.rooms img {
  margin-bottom: -3em;
  z-index: 1;
}
.rooms .swiperRooms {
  z-index: 0;
  width: 23.4375em;
  height: 15.25em;
  overflow: hidden;
}
.rooms .swiperRooms .swiper-slide {
  background-color: grey;
}
.rooms .swiperRooms .swiper-button-prev,
.rooms .swiperRooms .swiper-button-next {
  width: 2em;
  height: 2em;
}
.rooms .swiperRooms .swiper-button-prev:after,
.rooms .swiperRooms .swiper-button-next:after {
  display: none;
}
.rooms__article {
  background-color: #fff;
  padding: 1.5em 2em 0em;
  margin-bottom: 6em;
  margin-top: -1em;
  z-index: 1;
  position: relative;
}
.rooms__article h3 {
  line-height: 0.5em;
  font-weight: 400;
  letter-spacing: 0em;
  font-size: 1.75em;
  padding-bottom: 0.75em;
}
.rooms__article p {
  text-align: center;
  width: 18em;
  padding: 0;
}
.rooms__article img {
  position: relative;
  z-index: 2;
  margin-top: -5em;
}

.introVideo {
  background-color: #222222;
  padding: 4em 1em 2.2em 1em;
}
.introVideo h4 {
  color: #BEAD8E;
  margin-bottom: 1.5em;
}
.introVideo h2 {
  color: #fff;
  margin-bottom: 0.3em;
}
.introVideo p {
  color: #C2C2C2;
  padding: 0.5em;
}
.introVideo iframe {
  width: 21em;
  height: 16.875em;
  margin-bottom: 1.5em;
}
.introVideo button {
  border: none;
  background-color: #BEAD8E;
  padding-left: 4.3em;
  padding-right: 4.3em;
}

.facilities {
  padding-bottom: 3.5em;
  padding-left: 0;
}
.facilities h4 {
  margin-top: 1.9em;
  text-align: center;
}
.facilities h2 {
  font-size: 3.4em;
  text-align: center;
  margin-bottom: 0.4em;
}
.facilities .swiperFacilites {
  width: 23.4375em;
  height: 23.125em;
}
.facilities .swiperFacilites .swiper-slide {
  width: 100%;
  display: flex;
  top: 0;
  padding: 0 2.5em 0 1.5em;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.facilities .swiperFacilites .swiper-slide__containerImg {
  padding: 4em 0;
  margin: 1em 0 2em 0;
  width: 100%;
  position: relative;
}
.facilities .swiperFacilites .swiper-slide__containerImg__featuresIcon {
  position: absolute;
  bottom: 0;
  left: 0;
}
.facilities .swiperFacilites .swiper-slide__containerImg__featuresNum {
  position: absolute;
  top: 0;
  right: 0;
}
.facilities .swiperFacilites .swiper-slide h3 {
  letter-spacing: 0;
}
.facilities .swiperFacilites .swiper-slide p {
  padding-left: 0.35em;
  width: 19em;
  line-height: 1.5em;
  margin: 0.75em 0 1.5em;
}
.facilities .swiperFacilites .swiper-pagination {
  height: 5em;
  width: 10em;
  bottom: 0em;
  justify-content: center;
  z-index: 50;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.facilities .swiperFacilites .swiper-pagination-bullet {
  width: 1em;
  height: 1em;
  background-color: #ededed;
  opacity: 1;
  margin: 0 5px;
  border-radius: 50%;
  transition: background-color 0.3s;
}
.facilities .swiperFacilites .swiper-pagination-bullet-active {
  background-color: #BEAD8E;
  opacity: 1;
}

.menu {
  background-image: url(../assets/icon_menu.png);
  background-repeat: no-repeat;
  background-position: 17.9em 0em;
  background-size: 7.1563em;
  padding-top: 7.5em;
  padding-bottom: 10em;
}
.menu h2 {
  margin-bottom: 0.2em;
}
.menu .swiperMenu {
  width: 20em;
  display: flex;
  flex-direction: column;
}
.menu .swiperMenu__container {
  width: 100%;
}
.menu .swiperMenu__container__article {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.menu .swiperMenu__container__article__pack {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  align-items: center;
}
.menu .swiperMenu__container__article__pack__text {
  flex-direction: column;
  padding-left: 1.5em;
  padding-bottom: 0.5em;
}
.menu .swiperMenu__container__article__pack__text h3 {
  font-size: 1.5em;
  line-height: 1em;
}
.menu .swiperMenu__container__article__pack__text p {
  font-size: 0.875em;
  width: 13em;
}
.menu .swiperMenu__containerButtons {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 1em 2.5em 5em;
  align-self: flex-end;
}
.menu .swiperMenu__containerButtons .swiper-button-prev,
.menu .swiperMenu__containerButtons .swiper-button-next {
  width: 1em;
  height: 1em;
}
.menu .swiperMenu .swiper-button-prev:after,
.menu .swiperMenu .swiper-button-next:after {
  display: none;
}

.benefits {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}
.benefits__pack {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.5em;
}
.benefits__pack img {
  margin-bottom: 3em;
  width: 4.875em;
  height: 5em;
}
.benefits__pack p {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #fff;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
}
.benefits__pack p span {
  font-size: 3.75em;
  font-weight: 700;
}

.contactUs {
  padding: 1em 0 0 0;
}
.contactUs__containerSection {
  margin-top: 1.5em;
  background-image: url("../assets/contactUs_backgroundImg.png");
  padding: 2em 0 1em;
}
.contactUs__containerSection__containerLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3em;
}
.contactUs__containerSection__containerLogo__H {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BEAD8E;
  color: #fff;
  width: 2.5625em;
  padding: 1.7em 2.5em;
  margin-right: 1em;
}
.contactUs__containerSection__containerLogo__H p {
  font-weight: 700;
  font-size: 2.5em;
}
.contactUs__containerSection__containerLogo__name {
  font-weight: 400;
  font-size: 1.625em;
}
.contactUs__containerSection__containerLogo__name span {
  font-weight: 700;
}
.contactUs__containerSection__paragraf {
  color: #777777;
  font-weight: 400;
  font-size: 1em;
}
.contactUs__containerSection__containerIcons {
  margin: 2em 0 1em;
}
.contactUs__containerSection__containerIcons__others {
  border: 0.5em solid #f8f8f8;
}
.contactUs__containerSection__containerIcons__X {
  border: 0.5em solid #BEAD8E;
  background-color: #BEAD8E;
}
.contactUs__containerSection h3 {
  font-weight: 400;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
.contactUs__containerSection__services {
  display: flex;
  flex-direction: row;
  padding-top: 1em;
}
.contactUs__containerSection__services__service {
  width: 50%;
}
.contactUs__containerSection__services__service h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-weight: 400;
  line-height: 1em;
  color: #C2C2C2;
  font-size: 1em;
  letter-spacing: 0;
  width: 11.5em;
}
.contactUs__containerSection__contact {
  padding-top: 0.75em;
}
.contactUs__containerSection__contact__pack {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2.8em;
}
.contactUs__containerSection__contact__pack img {
  width: 2.5em;
  height: 2.5em;
}
.contactUs__containerSection__contact__pack__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1em;
}
.contactUs__containerSection__contact__pack__text h3 {
  line-height: 0;
  margin: 1em 0 0.5em;
}

.nav {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  position: fixed;
  width: 23.4375em;
  top: 0em;
  background-color: #fff;
  z-index: 5;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
}
.nav__container {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 4.37em;
  background-color: #fff;
  z-index: 5;
}
.nav__container button {
  background: none;
  border: none;
  width: 1.25em;
  height: 0.8em;
  cursor: pointer;
}
.nav__container__burger {
  padding: 0;
}
.nav__container__close {
  display: none;
}
.nav__container__burger.close {
  display: none;
}
.nav__container__close.open {
  padding: 0;
  display: block;
}
.nav__container__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0 0 2em;
}
.nav__container__logo__H {
  align-items: center;
  justify-content: center;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
  padding: 0em;
}
.nav__container__logo img {
  padding: 0.52em 0.77em;
}
.nav__container__containerIcons {
  display: flex;
  margin: 0.4em 0 0 5em;
}
.nav__container__containerIcons a {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
}
.nav__container__containerIcons a__icons {
  width: 1.5em;
  height: auto;
}
.nav__containerUl ul.menu.open {
  display: block;
}
.nav__containerUl .menu {
  background-color: #fff;
  padding-top: 0.5em;
  position: absolute;
  top: 4.4em;
  padding: 1em;
  z-index: 0;
  width: 23.4375em;
}
.nav__containerUl ul {
  z-index: 0;
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav__containerUl ul li {
  z-index: 0;
  padding: 0.25em 0;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  font-weight: 600;
  line-height: 2em;
  text-align: left;
}
.nav__containerUl ul li a {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: bold;
}
.nav__containerUl ul li:hover {
  color: black;
  font-weight: 700;
}

.header__locationWeb {
  background-color: #fff;
  padding: 1em;
  width: 9.75em;
  position: absolute;
  right: 1em;
}
.header__locationWeb__p {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-align: center;
}
.header__locationWeb__p__span2 {
  color: #BEAD8E;
}

html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: #fff;
  width: 375px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}
body button {
  color: #fff;
  background-color: none;
  letter-spacing: 0.27em;
  padding-top: 1.6em;
  padding-bottom: 1.6em;
}
body h4 {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 0.9em;
  font-weight: 600;
  font-size: 0.813em;
  letter-spacing: 2.8px;
  margin-bottom: 1.9em;
  letter-spacing: 0.275em;
}
body h3 {
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-size: 1.875em;
  font-weight: 400;
  line-height: 1.875em;
  letter-spacing: 0.0562em;
  text-align: left;
}
body h2 {
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-size: 3.5em;
  font-weight: 400;
}
body p {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-family: Archivo;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
body header {
  padding: 9.13em 0em 3.7em 1.5em;
  background-color: #333333;
}
body main section {
  padding: 2.5em 1.2em;
}