@import "../../__variables";
@import "../../components/__nav";
@import "../../components/_header";


h3.title {
    @include old-standard-tt;
    font-size: 1.875em;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: 0.0562em;
    text-align: left;
    color: pink;
}