@import "../__variables";

.presentation {
    text-align: center;

    iframe {
        width: 335px;
        width: 21em;
        height: 12em;
        margin-top: 1.3em;
        margin-bottom: 1.9em;
    }

    &__title {
        line-height: 1.25em;
        margin-bottom: 1.9em;
        text-align: center;
        font-size: 31px;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(2, 150px);
        gap: 1em;

        &__pack {
            width: 10em;
            height: 10em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                margin-bottom: 0.5em;
            }
            
            &:nth-child(2) {
                background-color: #bead8e;
    
                p {
                    color: white;
                }
            }
        }
    }
}

.restaurant {
    padding: 0em 2em 5em;
 
    img{
        height: 14.5em;
        margin-bottom: 2em;
    }   
}

// .facilities{
//     // background-color: $color_black;

//     h4, h3, h2{
//         color: #fff;
//     }
// }