@import "../_variables";

body {
  .header {
    padding: 9.13em 0 3.4em 0.5em;
    width: 375px;
    top: 114px;
    background-color: $color_header;

    h4 {
      @include archivo-font;
      line-height: 0.9em;
      font-weight: 600;
      font-size: 0.813em;
      color: #fff;
      letter-spacing: 2.8px;
    }

    h1 {
      @include old-standard-tt;
      font-size: 3.5em;
      font-weight: 400;
      color: #fff;
      padding: 0.6em 0 0.7em;
    }

    button {
      @include button;
      padding: 1.6em 3.75em;
      margin-bottom: 1.8em;
    }

    &__takeTour {
      border: none;
      background-color: $color_softyBrown;
      color: #fff;
    }

    &__learnMore {
      border: 0.125em solid $color_borderButton;
      background-color: transparent;
      border-color: #ffffff54;
    }
  }

  main {
    .reservationCalendar {
      background: $color_black;
      padding: 2.5em 1.2em;

      &__pack {
        display: flex;
        flex-direction: column;
        padding-bottom: 2em;

        label {
          @include roboto;
          color: #fff;
          font-weight: 500;
          font-size: 0.9em;
          padding: 0 0 0.6em;
        }

        input {
          width: 95%;
          padding: 1em;
          background-color: transparent;
          outline: none;
          border: none;
          border-bottom: 2px solid $color_softyBrown;
        }

        img {
          position: absolute;
          width: 15.07px;
          height: 15px;
          top: 43.5;
          margin: 2.6em 0 0;
        }
      }

      button {
        @include button;
        border: none;
        background-color: $color_softyBrown;
        padding-left: 2em;
        padding-right: 2em;
      }
    }
  }
}
